@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

/* ----------------comman classes------------------- */

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.min-vh-100 {
    min-height: 100vh;
}

.w-100 {
    width: 100%;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.position-relative {
    position: relative;
}

/* ----------------comman classes end------------------- */
/* --------------hero section-------------------- */
.fixed {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}

.cardbtn {
    border-radius: 100px;
    padding: 20px 25px;
    border: none;
    background-color: white;
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;

}

.bg-image {
    background-image: url("../images/heroimage.png");
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

section.layer>* {
    z-index: 1;
}

.mb-24 {
    margin-bottom: 24px;
}

.pr-20 {
    padding-right: 20px;
}

section.layer>nav {
    z-index: 2;
}

.pb-50 {
    padding-bottom: 50px;
}

.layer {
    position: relative;
}

.layer::after {
    background-color: #00000091;
    content: '';
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
    left: 0%;
}

.event {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}

.home {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.home:hover {
    font-weight: 600;
}

.btn {
    border-radius: 50px;
    border: 2px solid #2C49FE;
    background-color: #2C49FE;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding: 11px 28px;
    cursor: pointer;
}

.flex-grow-1 {
    flex-grow: 1;
}

.pt-50 {
    padding-top: 50px;
}

.gap-60 {
    gap: 60px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 96.32px;
    text-align: left;
    color: #ffffffff;
    width: 100%;
}

.line {
    position: relative;
    white-space: nowrap;
}


.line::after {
    position: absolute;
    content: "";
    height: 8px;
    max-width: 470px;
    width: 100%;
    background-color: #2C49FE;
    bottom: -5px;
    right: 0;
}

.line::before {
    position: absolute;
    content: "";
    height: 8px;
    max-width: 55px;
    width: 100%;
    background-color: skyblue;
    bottom: -5px;
    right: 0;
    z-index: 1;
}

.heading-text {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    line-height: 25.94px;
    text-align: left;
    color: #FFFFFF;
    max-width: 765px;
    margin-top: 18px;
}

.btn1 {
    border-radius: 50px;
    border: 2px solid #2C49FE;
    background-color: #2C49FE;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    padding: 11px 28px;
    cursor: pointer;
    white-space: nowrap;
}

.learn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    white-space: nowrap;
}

.pt-40 {
    padding-top: 40px;
}

.gap-23 {
    gap: 23px;
}

.mt-100 {
    margin-top: 100px;
}

.bg-blue {
    background: #2C49FEBD;
}

.card-box {
    border-radius: 100px;
    padding: 20px;
    width: 100%;
}

.location {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    line-height: 25.94px;
    text-align: left;
    color: #FFFFFF;
}

.city {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    line-height: 18.16px;
    text-align: left;
    color: #FFFFFFB2;
    white-space: nowrap;
}

/* --------------hero section end-------------------- */
/* ---------------------make special section ------------------------- */
.mb-73 {
    margin-bottom: 73px;
}

.line2 {
    max-width: 179px;
    height: 6px;
    background: linear-gradient(to right, #2C49FE 85%, #01C8FF 15%);
    margin-top: 10px;
}

.special-head {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: #000000;
}

.special-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    padding-bottom: 15px;
}

.box1:hover {
    background: rgba(44, 73, 254, 1);

    .box-head {
        color: white;
    }

    .box-text {
        color: white;
    }
}

.box-head {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 45px;
    color: rgba(44, 73, 254, 1);

}

.box-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm1);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    color: rgba(45, 60, 174, 1);
}

.py-70 {
    padding-top: 70px;
    padding-bottom: 90px;
}

.circle-svg {
    width: 79.2px;
    height: 79.2px;
    border: 3.3px solid #FFFFFF;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    cursor: pointer;
}

.box1 {
    min-height: 198px;
    border-radius: 5px;
    border: 2px solid rgba(44, 73, 254, 1);
    position: relative;
    margin-top: 45px;
    background-color: white;
}

.box2 {
    border: 2px solid rgba(44, 73, 254, 1);
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    bottom: 80%;
    left: 35%;
    margin-top: 10px;
}

/* ---------------------make special section end -------------------------*/
/* ---------------------after-before section ------------------------- */

.bg-image1 {
    background-image: url(../images/girl.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 45vh;
    background-size: cover;
}

.bg-blue1 {
    position: relative;
}

.bg-blue1::after {
    content: "";
    position: absolute;
    top: 0;
    background-color: #556CFD;
    opacity: 0.9;
    bottom: 0;
    left: 0;
    right: 0;
}

.z-index-1 {
    z-index: 1;
}

.image-head {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 62.4px;
    text-align: center;
    color: #FFFFFF;
    max-width: 708px;
    margin-left: auto;
    margin-right: auto;
}

.image-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    max-width: 765px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;
}

.center-text-align {
    text-align: center;
}

.number {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 52.5px;
    text-align: center;
    color: #FFFFFF;
}

.part {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
}

.pt-40 {
    padding-top: 40px;
}

/*---------------------after-before section end ------------------------- */
/*---------------------form section -------------------------*/

.more {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.main-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 65.52px;
    text-align: left;
    color: #000000;
}

.card1 {
    width: 100%;
    padding: 12px 12px;
}

.card1:hover {
    box-shadow: 2px 9px 32px 0px #0000000F;
}

.card-date {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000B2;
}

.card-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #000000;
}

.join {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: #000000;
    white-space: nowrap;
}

.join-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    margin-bottom: 15px;
    margin-top: 3px
}

.sign {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
    color: #000000;
    margin-bottom: 8px;
}

.first {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #00000066;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 16px;
    width: 100%;
}

.email {
    width: 100%;
    height: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #00000066;
    padding-left: 17px;
    margin-bottom: 16px;
}

.gap-16 {
    gap: 16px;
}

textarea {
    resize: none;
}

textarea[id="massege"] {
    width: 100%;
    height: 124px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border-radius: 5px;
    color: #000000B2;
    padding-top: 10px;
    padding-left: 17px;
    margin-bottom: 36px;
}

.btn2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 23px;
    background: #2C49FE;
    border: 2px solid #2C49FE;
    height: 46px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

/*---------------------form section end------------------------- */
/* ---------------------footer section ------------------------- */

.backg-black {
    background: #000000;
}

.f-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 36px;
    padding-bottom: 24px;
    max-width: 310px;
}

.gap-15 {
    gap: 15px;
}

footer ul li:not(:first-child) a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
}

.py-100 {
    padding-top: 100px;
}

.gallery {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 20px;
}

.more1 {
    height: 100%;
    background: #2D3CAE87;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.company {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.dark {
    color: #FFFFFF;
}

.dark::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 100ms linear;
    background-color: white;
}

.dark:hover::after {
    width: 100%;
    left: 0;
}

.dark:hover {
    color: #01C8FF;
}

.z-index-1 {
    z-index: 1;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}

/*---------------------footer section end------------------------- */


/* ------------------responsive start------------------ */
@media (max-width:992px) {
    label[for="menubar"]>span {
        transition: all 200ms linear;
    }

    input:checked~label[for="menubar"] span:nth-child(2) {
        opacity: 0;
        transform: translate(-55px);
    }

    input:checked~label[for="menubar"] span:first-child {
        transform: rotate(55deg);
        transform-origin: left;
    }

    input:checked~label[for="menubar"] span:last-child {
        transform: rotate(-55deg);
        transform-origin: left;
    }

    label[for="menubar"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="menubar"]>span {
        width: 100%;
        height: 5px;
        background-color: #2C49FE;
        border-radius: 2px;
    }

    ul.mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: black;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked~ul {
        left: 0;
    }

}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:768px) {
    .col-md-4 {
        width: 33.33%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-md-9 {
        width: 75%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .border-md-both {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}

@media (min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-lg-0 {
        margin-bottom: 0;
    }

    .border-lg-right {
        border-right: 2px solid white;
    }

    .justify-content-lg-end {
        justify-content: end;
    }
}

@media (min-width:576px)and (max-width:768px) {
    .card {
        position: relative;
    }

    .card::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0;
        background-color: white;
        transform: translateY(-50%);
    }

    .card::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        top: 0;
        left: 50%;
        background-color: white;
        transform: translateX(-50%);
    }

    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .box2 {
        left: 45%;
    }
}

/* --------------------responsive end-------------------------- */